<table id="FaturasPendentes">
  <caption id="FaturasPendentesTitle">Faturas Pendentes</caption>
  <tr>
    <th>Fornecedor</th>
    <th>Data Fatura</th>
    <th>Data Vencimento</th>
    <th>Valor</th>
  </tr>
  <tr *ngFor="let fatura of faturas | paginate: { itemsPerPage: 10, currentPage: faturasPendentesPageNumber }">
    <td>{{fatura.fornecedor}}</td>
    <td>{{fatura.dataFatura}}</td>
    <td>{{fatura.dataVencimento}}</td>
    <td>{{fatura.valor}}</td>
  </tr>
  <pagination-controls (pageChange)="faturasPendentesPageNumber = $event"></pagination-controls>
</table>
