@import url('https://fonts.googleapis.com/css?family=Roboto');

#Sidebar {
    width: 270px;
    /* height: 100%;
    z-index: 1;
    top: 0;
    left: 0; */
}

.options {
    height: 70px;
    color: #ffffff;
    background-color: #2ba386;
    text-align: left;
    padding-top: 20px;
    padding-left: 28px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: lighter;
}

.options {
    cursor: pointer;
    cursor: hand;
}

.options:hover {
    color: #117C68;
}

/* .options.active {
    color: #117C68;
} */

.arrow {
    text-align: right;
    padding-right: 28px;
}

li:hover {
    background-color: #117c68;
}

#UserPanel {
    height: 118px;
    opacity: 50%;
    background-color: #18191F;
}

.userinfo {
    display: inline-block;
}

#UserName {
    font-family: Roboto;
    font-size: 16px;
    font-weight: lighter;
    color: #ffffff;
    text-transform: capitalize;
}

#UserRole {
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}

#UserPhoto {
    width: 56px;
    height: 56px;
    padding-top: 28px;
    padding-left: 28px;
}