@import url('https://fonts.googleapis.com/css?family=Roboto');

table, #title, th, td {
    border: 1px solid black;
}

#MinhasFaturas{
    width: 934px;
    height: 40px;
}

#MinhasFaturas tr:nth-child(odd){
    background-color: rgb(202, 210, 216);
    height: 30px;
}
#MinhasFaturas tr:nth-child(even){
    background-color: #ffffff;
    height: 30px;
}

#MinhasFaturasTitle{
    text-align: left;
    font-family: Roboto;
    font-size: 16px;
    font-weight: lighter;
    height: 30px;
    background-color: #282A33;
    color: white;
}

#MinhasFaturas th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #D0D5D8;

    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: lighter;
    color: black;
}

#MinhasFaturas td {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-weight: lighter;
    color: black;
}